.center-playlist {
    width: 70%;
    padding: 50px;
    border-radius: 25px;
    
    background-image: url("Center.avif");
    background-repeat: no-repeat;
    background-size: 1200px 800px;
    
    color: rgb(15, 63, 32);
    width: 1000px;
    height: 400px;
    margin: 10px;
  }
  
  .playlist-videos {
    display: flex;
    flex-wrap: wrap;
  }
  
  .playlist-item {
    width: 30%;
    margin: 10px;
    cursor: pointer;
  }
  
  .playlist-item img {
    width: 100%;
    border-radius: 8px;
  }
  