.flow-button {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #87a1a0;
    position: relative;
    left: 750px;
    bottom: 0;
    width: 200px;
    height: 50px;
  }
  